
env/.local/share/nvim/site/pack/packer/start
env/.local/share/nvim/swap
env/.local/share/nvim/.netrwhist
env/.local/share/nvim/rplugin.vim
env/.local/share/nvim/telescope_history
env/.config/nvim/plugin
env/.vim
wallpapers
env/.local/bin/virtualenv
env/.config/nvim/tags
env/.local/share/nvim/lsp_servers
env/.config/zsh/.zcompdump
env/.config/zsh/.zcompdump
env/.local/share/nvim/lazy
env/.local/share/nvim/mason
env/.local/share/nvim
env/.local/share/nvim/site/pack/lm/start
env/.local/share/nvim/site/pack/lm/start
env/.local/share
env/.local/share
