[submodule "env/.config/zsh/zsh-autosuggestions"]
	path = env/.config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "env/.config/zsh/zsh-syntax-highlighting"]
	path = env/.config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting

[submodule "env/.local/share/nvim/site/pack/lm/start/packer.nvim"]
	path = env/.local/share/nvim/site/pack/lm/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim

[submodule "repos/lxqt-less-theme"]
	path = repos/lxqt-less-theme
	url = https://gitlab.com/isseigx/lxqt-less-theme
[submodule "openbox/.local/share/themes/arc-openbox"]
	path = openbox/.local/share/themes/arc-openbox
	url = https://github.com/dglava/arc-openbox
[submodule "repos/arc-openbox"]
	path = repos/arc-openbox
	url = https://github.com/dglava/arc-openbox
[submodule "suckless/st/st"]
	path = suckless/st/st
	url = https://github.com/LuchianMihai/st
