[submodule "openbox/.local/share/themes/arc-openbox"]
	path = openbox/.local/share/themes/arc-openbox
	url = https://github.com/dglava/arc-openbox
[submodule "repos/arc-openbox"]
	path = repos/arc-openbox
	url = https://github.com/dglava/arc-openbox
